<form action="/robots" method="post">
  <fieldset>
    <legend>Create A New Robot</legend>
      Name:<br>
      <input type='text' name='name'/><br/>
      City:<br>
      <input type='text' name='city'/><br/>
      State:<br>
      <input type='text' name='state'/><br/>
      Department<br>
      <input type='text' name='department'/><br/><br/>
      <input type="submit" value="Submit">
    </fieldset>
</form>
